@model MvcWebUI.Models.AddModels.HouseAddViewModel
@{
    @* ViewData["Title"] = "Admin Page"; *@
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <div class="container-fluid d-flex justify-content-center align-items-center pt-4 px-4">
<div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">New House Add Form</h6>
                        
                            <form method="post" asp-controller="Admin" asp-action="AddHouse">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">House Type</label>
                                    <input  asp-for="House.TypeInfo"  class="form-control" id="exampleInputEmail1"
                                         >
                                    <span class="ms-1" asp-validation-for="House.TypeInfo"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Floor Number</label>
                                    <input value="" asp-for="House.FloorNumber"  class="form-control" id="exampleInputPassword1">
                                    <span class="ms-1" asp-validation-for="House.FloorNumber"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Door Number</label>
                                    <input value="" asp-for="House.DoorNumber" class="form-control" id="exampleCheck1">
                                    <span class="ms-1" asp-validation-for="House.DoorNumber"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Block</label>
                                <select asp-for="House.ApartmentId" asp-items='@(new SelectList(Model.Apartments, "Id", "BlockName"))' 
                                class="form-select form-select-sm mb-3" > 
                                <option value="" selected>Open this select menu</option>
                                 </select>
                                 <span class="ms-1" asp-validation-for="House.ApartmentId"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Add New House</button>
                            </form>
                        </div>
                    </div>
         </div>