@model MvcWebUI.Models.AddModels.InvoiceAddViewModel
@{
    @* ViewData["Title"] = "Admin Page"; *@
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
   var today = DateTime.Now;

}



 <div class="container-fluid d-flex justify-content-center align-items-center pt-4 px-4">
<div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">New Invoice Add Form</h6>
                        
                            <form method="post" asp-controller="Admin" asp-action="AddInvoice">
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Block</label>
                                <select asp-for="Invoice.InvoiceGenreId" asp-items='@(new SelectList(Model.InvoiceGenres, "Id", "Name"))' 
                                class="form-select form-select-sm mb-3" > 
                                <option value="" selected>Open this select menu</option>
                                 </select>
                                 <span class="ms-1" asp-validation-for="Invoice.InvoiceGenreId"></span>
                                </div>

                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Block</label>
                                <select asp-for="Invoice.HouseId" asp-items='@(new SelectList(Model.Houses, "Id", "FloorNumber"))' 
                                class="form-select form-select-sm mb-3" > 
                                <option value="" selected>Open this select menu</option>
                                 </select>
                                 <span class="ms-1" asp-validation-for="Invoice.HouseId"></span>
                                </div>


                                <div class="col-sm-12 d-flex align-items-center justify-content-between col-md col-xl">
                                    
                                    <div style="width:40% !important" class="h-100  bg-secondary rounded ">
                                    <div class="d-flex align-items-center justify-content-around mb-4">
                                        <h6 class="mb-0">Invocing Date</h6>
                                       
                                         </div>
                                        <input type="date"  style="background-color: white;" asp-for="Invoice.InvocingDateTime" class="form-control datepicker">
                                      
                                    </div>
                                    <div style="width:40% !important" class="h-100  bg-secondary rounded ">


                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <h6 class="mb-0 text-center">Last Payment Date</h6>
                                       
                                         </div>
                                         <input   type="date" style="background-color: white;"   asp-for="Invoice.LastPaymentDate" class="form-control datepicker">
                                       
                                    </div>
                                </div> 
                                
                                <div class="mb-3 mt-5">
                                    <label class="form-label" for="exampleCheck1">Invoice Amount</label>
                                    <input value="" asp-for="Invoice.Amount" class="form-control" id="exampleCheck1">
                                    <span class="ms-1" asp-validation-for="Invoice.Amount"></span>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Assign Invoice</button>
                            </form>
                        </div>
                    </div>
                 
         </div>
    