
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:20% auto  !important; border-radius:50%; border:1px solid red" class="col-sm-12 col-xl-12 w-75 h-100 text-center mt-5">
    <h1 style="font-size: 48px; letter-spacing:2px" class=" text-center text-danger">Welcome To Admin</h1>
</div>
