@model MvcWebUI.Models.AddModels.ResidentCreateModel
@{
    @* ViewData["Title"] = "Admin Page"; *@
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}
 <div class="container-fluid d-flex justify-content-center align-items-center pt-4 px-4">
<div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">New Resident Add Form</h6>
                        
                            <form method="post" asp-controller="Admin" asp-action="ResidentCreate">
                                 <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">House Selected</label>
                                <select asp-for="ResidentCreateDto.HouseId" asp-items='@(new SelectList(Model.Houses, "Id", "TypeInfo"))' 
                                class="form-select form-select-sm mb-3" > 
                                <option value="" selected>Open this select menu</option>
                                 </select>
                                 <span class="ms-1" asp-validation-for="ResidentCreateDto.HouseId"></span>
                                </div>
                                <div class="col-sm-10  mt-2 d-flex justify-content-around">
                                        <div class="form-check">
                                            <input asp-for="ResidentCreateDto.IsOwner" class="form-check-input" type="radio" name="ResidentCreateDto.IsOwner"
                                                id="gridRadios1" value="Owner" checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                Owner
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="ResidentCreateDto.IsOwner" class="form-check-input" type="radio" name="ResidentCreateDto.IsOwner"
                                                id="gridRadios2" value="Tenant">
                                            <label class="form-check-label" for="gridRadios2">
                                                Tenant
                                            </label>
                                        </div>
                                    </div>
                                <div class="mb-3 mt-2">
                                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                                    <input  asp-for="ResidentCreateDto.FirstName"  class="form-control" id="exampleInputEmail1"
                                         >
                                    <span class="ms-1" asp-validation-for="ResidentCreateDto.FirstName"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Last Name</label>
                                    <input value="" asp-for="ResidentCreateDto.LastName"  class="form-control" id="exampleInputPassword1">
                                    <span class="ms-1" asp-validation-for="ResidentCreateDto.LastName"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Nationaly Number</label>
                                    <input value=""  asp-for="ResidentCreateDto.NationalyId" class="form-control" id="exampleCheck1">
                                    <span class="ms-1" asp-validation-for="ResidentCreateDto.NationalyId"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Email</label>
                                    <input value="" type="email" asp-for="ResidentCreateDto.Email" class="form-control" id="exampleCheck1">
                                    <span class="ms-1" asp-validation-for="ResidentCreateDto.Email"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label class="form-label" for="exampleCheck1">Phone Number</label>
                                    <input value=""  asp-for="ResidentCreateDto.PhoneNumber" class="form-control" id="exampleCheck1">
                                    <span class="ms-1" asp-validation-for="ResidentCreateDto.PhoneNumber"></span>
                                </div>
                                  
                                
                                <button type="submit" class="btn btn-primary">Add New House</button>
                            </form>
                        </div>
                    </div>
         </div>
